/**
 * CSS Framework
 * @author Алексей Арх
 */

.a-css * {
    margin: 0;
    padding: 0;
    border: 0;
}

html.a-css,
.a-css body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.a-css body,
.a-css button,
.a-css input,
.a-css select,
.a-css textarea {
    font: normal 12px Verdana, sans-serif;
    color: #222;
}

.a-css textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.a-css article,
.a-css aside,
.a-css details,
.a-css figcaption,
.a-css figure,
.a-css footer,
.a-css header,
.a-css nav,
.a-css section {
    display: block;
}

.a-css audio[controls],
.a-css canvas,
.a-css video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.a-css abbr[title] {
    border-bottom: 1px dotted;
}

.a-css b,
.a-css strong {
    font-weight: bold;
}

.a-css blockquote,
.a-css blockquote blockquote {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-left: 5px;
    background-color: #FFFFF7;
    border-left: 3px solid #ddd;
}

.a-css blockquote blockquote {
    background-color: #FDFDFD;
}

.a-css dfn {
    font-style: italic;
}

.a-css img {
    border: 0;
    outline: none;
    -ms-interpolation-mode: bicubic;
}

.a-css a,
.a-href {
    color: #09a1dd;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.a-css a:hover,
.a-href:hover {
    color: #000;
}

.a-css h1,
.a-css h2,
.a-css h3,
.a-css h4,
.a-css h5,
.a-css h6,
.a-css legend {
    font-weight: normal;
    color: #444;
    display: inline;
}

.a-css h1 {
    font-size: 30px;
}

.a-css h2 {
    font-size: 24px;
}

.a-css h3 {
    font-size: 20px;
}

.a-css h4 {
    font-size: 15px;
}

.a-css h5 {
    font-size: 11px;
}

.a-css h6 {
    font-size: 8px;
}

.a-css hr {
    display: block;
    background-color: #ffffff;
    border: 1px #f1f1f1 solid;
    padding: 0.5px;
    margin: 5px 0px 5px 0px;
    clear: both;
}

.a-css ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

.a-css mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.a-css pre,
.a-css code,
.a-css kbd,
.a-css samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
    font: normal 12px Verdana, sans-serif;
    line-height: 160%;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.a-css q {
    quotes: none;
}

.a-css q:before,
.a-css q:after {
    content: "";
    content: none;
}

.a-css ul,
.a-css ol {
    margin: 0px;
    padding: 0 0 0 1em;
}

.a-css dd {
    margin: 0 0 0 40px;
}

.a-css small {
    font-size: 80%;
}

.a-css sub,
.a-css sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

.a-css sup {
    top: -0.5em;
}

.a-css sub {
    bottom: -0.25em;
}

.a-css figure {
    margin: 0;
}

.a-css form {
    margin: 0;
}

.a-css fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.a-css legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

.a-css label {
    cursor: pointer;
}

.a-button,
.a-button:active,
.a-button:focus {
    outline: none;
}

.a-css button,
.a-button,
.a-css input,
.a-css select,
.a-css textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

.a-css button,
.a-button,
.a-css input {
    line-height: normal;
    *overflow: visible;
}

.a-css button,
.a-button,
.a-css input[type="button"],
.a-css input[type="reset"],
.a-css input[type="submit"],
.a-css select {
    cursor: pointer;
}

.a-css input[type="checkbox"],
.a-css input[type="radio"] {
    box-sizing: border-box;
}

.a-css input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.a-css button::-moz-focus-inner,
.a-button::-moz-focus-inner,
.a-css input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.a-css textarea {
    overflow: auto;
    vertical-align: top;
}

.a-css input:valid,
.a-css textarea:valid {
}

.a-css input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

.a-css table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px;
}

.a-css td,
.a-css th {
    /*vertical-align: top;*/
}

.a-clear:before,
.a-clear:after {
    content: "";
    display: table;
}

.a-clear {
    clear: both;
    zoom: 1;
}

.a-user-select-none {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
/*==============================
Округления
==============================*/
.a-radius {
    border-radius: 2px !important;
}

/*==============================
 Кнопки
==============================*/
.a-button {
    display: inline-block;
    padding: 3px 6px;
    margin: 3px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #333 !important;
    border: 1px solid #e9e9e9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: box-shadow 0.1s, border 0.1s, background 0.1s;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.a-button:hover {
    color: #333;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);
}

.a-button:active,
.a-button.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}

.a-font-bold {
    font-weight: bold;
}

/*==============================
 Окна
==============================*/

/*==============================
 Формы
==============================*/
.a-field {
    display: inline-block;
    padding: 3px 0px;
    margin: 3px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    transition: box-shadow 0.3s, border 0.3s, background 0.3s;
}

.a-field:hover,
.a-group .a-field:last-child:hover {
    border-color: #04AAEB;
}

.a-field:focus,
.a-group .a-field:last-child:focus {
    border-color: #04AAEB;
    outline: 0;
}

/*==============================
 Анимации
==============================*/
.a-transition {
    transition: box-shadow 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s;
}

/*==============================
 Таблицы
==============================*/
.a-table td,
.a-table th {
    padding: 5px;
}

/*==============================
 Блоки
==============================*/

.a-hide {
    display: none;
}

.a-empty:empty {
    display: none !important;
}

.a-border,
.a-box,
.a-table td,
.a-table th {
    border: 1px #e3e3e3 solid !important;
}

.a-border-none {
    border: 0 !important;
}

.a-bg,
.a-border,
.a-box {
    background-color: #fff !important;
}

.a-block {
    display: block !important;
}

.a-box {
    display: block !important;
}

.a-margin,
.a-box,
.a-css fieldset {
    margin: 2px;
}

.a-padding,
.a-box,
.a-css fieldset {
    padding: 3px;
}

.a-hover:hover {
    cursor: pointer;
    opacity: 0.8;
}

.a-center {
    text-align: center;
}

.a-vcenter {
    display: table-cell;
    vertical-align: middle;
}

.a-left {
    float: left;
}

.a-right {
    float: right;
}

.a-text-left {
    text-align: left;
}

.a-text-center {
    text-align: center;
}

.a-text-right {
    text-align: right;
}

/*==============================
 Группировка
==============================*/
.a-group {
    display: inline-flex;
}

.a-vgroup .a-box,
.a-vgroup .a-button,
.a-vgroup .a-field {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    display: block;
}

.a-vgroup .a-box {
    border-top-width: 0px !important;
}

.a-vgroup .a-box:first-child {
    border-width: 1px !important;
}

.a-vgroup .a-box:first-child,
.a-vgroup .a-button:first-child,
.a-vgroup .a-field:first-child {
    margin-top: 3px;
}

.a-group .a-button,
.a-group .a-field,
.a-group .a-box {
    position: relative;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    display: inline-block;
}
.a-group .a-button,
.a-group .a-box {
    border-right-width: 0px;
}

.a-group button:first-child,
.a-group .a-button:first-child,
.a-group .a-box:first-child,
.a-group .a-field:first-child {
    margin-left: 3px;
}

.a-group button:last-child,
.a-group .a-button:last-child,
.a-group .a-box:last-child,
.a-group .a-field:last-child {
    border-right-width: 1px;
    margin-right: 3px;
    float: none;
}

/*==============================
 Тени
==============================*/
.a-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*==============================
Всплывающие подсказки
==============================*/
.ui-tooltip {
    max-width: 350px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    opacity: 0.9;
    color: #000;
    padding: 5px;
    text-align: center;
    font-size: 11px;
}

/*==============================
 Цвет текста
==============================*/
.a-color-white, .a-hcolor-white:hover, .a-acolor-white.active {
    color: #FFFFFF !important;
}

.a-color-light-black, .a-hcolor-light-black:hover, .a-acolor-light-black.active {
    color: #666666 !important;
}
.a-color-black, .a-hcolor-black:hover, .a-acolor-black.active {
    color: #444444 !important;
}
.a-color-dark-black, .a-hcolor-dark-black:hover, .a-acolor-dark-black.active {
    color: #222222 !important;
}

.a-color-light-blue, .a-hcolor-light-blue:hover, .a-acolor-light-blue.active {
    color: #B3E5FC !important;
}
.a-color-blue, .a-hcolor-blue:hover, .a-acolor-blue.active {
    color: #4FC3F7 !important;
}
.a-color-dark-blue, .a-hcolor-dark-blue:hover, .a-acolor-dark-blue.active {
    color: #03A9F4 !important;
}

.a-color-light-brown, .a-hcolor-light-brown:hover, .a-acolor-light-brown.active {
    color: #D7CCC8 !important;
}
.a-color-brown, .a-hcolor-brown:hover, .a-acolor-brown.active {
    color: #A1887F !important;
}
.a-color-dark-brown, .a-hcolor-dark-brown:hover, .a-acolor-dark-brown.active {
    color: #795548 !important;
}

.a-color-light-cyan, .a-hcolor-light-cyan:hover, .a-acolor-light-cyan.active {
    color: #B2EBF2 !important;
}
.a-color-cyan, .a-hcolor-cyan:hover, .a-acolor-cyan.active {
    color: #4DD0E1 !important;
}
.a-color-dark-cyan, .a-hcolor-dark-cyan:hover, .a-acolor-dark-cyan.active {
    color: #00BCD4 !important;
}

.a-color-light-teal, .a-hcolor-light-teal:hover, .a-acolor-light-teal.active {
    color: #B2DFDB !important;
}
.a-color-teal, .a-hcolor-teal:hover, .a-acolor-teal.active {
    color: #4DB6AC !important;
}
.a-color-dark-teal, .a-hcolor-dark-teal:hover, .a-acolor-dark-teal.active {
    color: #00BCD4 !important;
}

.a-color-light-gray, .a-hcolor-light-gray:hover, .a-acolor-light-gray.active {
    color: #FDFDFD !important;
}
.a-color-gray, .a-hcolor-gray:hover, .a-acolor-gray.active {
    color: #F3F3F3 !important;
}
.a-color-dark-gray, .a-hcolor-dark-gray:hover, .a-acolor-dark-gray.active {
    color: #9E9E9E !important;
}

.a-color-light-green, .a-hcolor-light-green:hover, .a-acolor-light-green.active {
    color: #C8E6C9 !important;
}
.a-color-green, .a-hcolor-green:hover, .a-acolor-green.active {
    color: #81C784 !important;
}
.a-color-dark-green, .a-hcolor-dark-green:hover, .a-acolor-dark-green.active {
    color: #4CAF50 !important;
}

.a-color-light-lime, .a-hcolor-light-lime:hover, .a-acolor-light-lime.active {
    color: #F0F4C3 !important;
}
.a-color-lime, .a-hcolor-lime:hover, .a-acolor-lime.active {
    color: #DCE775 !important;
}
.a-color-dark-lime, .a-hcolor-dark-lime:hover, .a-acolor-dark-lime.active {
    color: #CDDC39 !important;
}

.a-color-light-orange, .a-hcolor-light-orange:hover, .a-acolor-light-orange.active {
    color: #FFE0B2 !important;
}
.a-color-orange, .a-hcolor-orange:hover, .a-acolor-orange.active {
    color: #ffa346 !important;
}
.a-color-dark-orange, .a-hcolor-dark-orange:hover, .a-acolor-dark-orange.active {
    color: #FF9800 !important;
}

.a-color-light-amber, .a-hcolor-light-amber:hover, .a-acolor-light-amber.active {
    color: #FFECB3 !important;
}
.a-color-amber, .a-hcolor-amber:hover, .a-acolor-amber.active {
    color: #FFD54F !important;
}
.a-color-dark-amber, .a-hcolor-dark-amber:hover, .a-acolor-dark-amber.active {
    color: #FFC107 !important;
}

.a-color-light-pink, .a-hcolor-light-pink:hover, .a-acolor-light-pink.active {
    color: #F8BBD0 !important;
}
.a-color-pink, .a-hcolor-pink:hover, .a-acolor-pink.active {
    color: #F06292 !important;
}
.a-color-dark-pink, .a-hcolor-dark-pink:hover, .a-acolor-dark-pink.active {
    color: #E91E63 !important;
}

.a-color-light-purple, .a-hcolor-light-purple:hover, .a-acolor-light-purple.active {
    color: #E1BEE7 !important;
}
.a-color-purple, .a-hcolor-purple:hover, .a-acolor-purple.active {
    color: #BA68C8 !important;
}
.a-color-dark-purple, .a-hcolor-dark-purple:hover, .a-acolor-dark-purple.active {
    color: #9C27B0 !important;
}

.a-color-light-red, .a-hcolor-light-red:hover, .a-acolor-light-red.active {
    color: #ffcdd2 !important;
}
.a-color-red, .a-hcolor-red:hover, .a-acolor-red.active {
    color: #e57373 !important;
}
.a-color-dark-red, .a-hcolor-dark-red:hover, .a-acolor-dark-red.active {
    color: #f44336 !important;
}

.a-color-light-yellow, .a-hcolor-light-yellow:hover, .a-acolor-light-yellow.active {
    color: #FFF9C4 !important;
}
.a-color-yellow, .a-hcolor-yellow:hover, .a-acolor-yellow.active {
    color: #FFD54F !important;
}
.a-color-dark-yellow, .a-hcolor-dark-yellow:hover, .a-acolor-dark-yellow.active {
    color: #FFC107 !important;
}

.a-color-indigo, .a-hcolor-indigo:hover, .a-acolor-indigo.active {
    color: #C5CAE9 !important;
}
.a-color-indigo, .a-hcolor-indigo:hover, .a-acolor-indigo.active {
    color: #7986CB !important;
}
.a-color-indigo, .a-hcolor-indigo:hover, .a-acolor-indigo.active {
    color: #3F51B5 !important;
}

/*==============================
 Цвет фона
==============================*/
.a-bgcolor-none {
    background-color: transparent !important;
}

.a-bgcolor-white, .a-hbgcolor-white:hover, .a-abgcolor-white.active, .a-ebgcolor-white:nth-child(even), .a-obgcolor-white:nth-child(odd) {
    background-color: #FFFFFF !important;
}

.a-bgcolor-light-black, .a-hbgcolor-light-black:hover, .a-abgcolor-light-black.active, .a-ebgcolor-light-black:nth-child(even), .a-obgcolor-light-black:nth-child(odd) {
    background-color: #666666 !important;
}
.a-bgcolor-black, .a-hbgcolor-black:hover, .a-abgcolor-black.active, .a-ebgcolor-black:nth-child(even), .a-obgcolor-black:nth-child(odd) {
    background-color: #444444 !important;
}
.a-bgcolor-dark-black, .a-hbgcolor-dark-black:hover, .a-abgcolor-dark-b-lack.active, .a-ebgcolor-dark-black:nth-child(even), .a-obgcolor-dark-black:nth-child(odd) {
    background-color: #222222 !important;
}

.a-bgcolor-light-blue, .a-hbgcolor-light-blue:hover, .a-abgcolor-light-blue.active, .a-ebgcolor-light-blue:nth-child(even), .a-obgcolor-light-blue:nth-child(odd) {
    background-color: #B3E5FC !important;
}
.a-bgcolor-blue, .a-hbgcolor-blue:hover, .a-abgcolor-blue.active, .a-ebgcolor-blue:nth-child(even), .a-obgcolor-blue:nth-child(odd) {
    background-color: #4FC3F7 !important;
}
.a-bgcolor-dark-blue, .a-hbgcolor-dark-blue:hover, .a-abgcolor-dark-blue.active, .a-ebgcolor-dark-blue:nth-child(even), .a-obgcolor-dark-blue:nth-child(odd) {
    background-color: #03A9F4 !important;
}

.a-bgcolor-light-brown, .a-hbgcolor-light-brown:hover, .a-abgcolor-light-brown.active, .a-ebgcolor-light-brown:nth-child(even), .a-obgcolor-light-brown:nth-child(odd) {
    background-color: #D7CCC8 !important;
}
.a-bgcolor-brown, .a-hbgcolor-brown:hover, .a-abgcolor-brown.active, .a-ebgcolor-brown:nth-child(even), .a-obgcolor-brown:nth-child(odd) {
    background-color: #A1887F !important;
}
.a-bgcolor-dark-brown, .a-hbgcolor-dark-brown:hover, .a-abgcolor-dark-brown.active, .a-ebgcolor-dark-brown:nth-child(even), .a-obgcolor-dark-brown:nth-child(odd) {
    background-color: #795548 !important;
}

.a-bgcolor-light-cyan, .a-hbgcolor-light-cyan:hover, .a-abgcolor-light-cyan.active, .a-ebgcolor-light-cyan:nth-child(even), .a-obgcolor-light-cyan:nth-child(odd) {
    background-color: #B2EBF2 !important;
}
.a-bgcolor-cyan, .a-hbgcolor-cyan:hover, .a-abgcolor-cyan.active, .a-ebgcolor-cyan:nth-child(even), .a-obgcolor-cyan:nth-child(odd) {
    background-color: #4DD0E1 !important;
}
.a-bgcolor-dark-cyan, .a-hbgcolor-dark-cyan:hover, .a-abgcolor-dark-cyan.active, .a-ebgcolor-dark-cyan:nth-child(even), .a-obgcolor-dark-cyan:nth-child(odd) {
    background-color: #00BCD4 !important;
}

.a-bgcolor-light-teal, .a-hbgcolor-light-teal:hover, .a-abgcolor-light-teal.active, .a-ebgcolor-light-teal:nth-child(even), .a-obgcolor-light-teal:nth-child(odd) {
    background-color: #B2DFDB !important;
}
.a-bgcolor-teal, .a-hbgcolor-teal:hover, .a-abgcolor-teal.active, .a-ebgcolor-teal:nth-child(even), .a-obgcolor-teal:nth-child(odd) {
    background-color: #4DB6AC !important;
}
.a-bgcolor-dark-teal, .a-hbgcolor-dark-teal:hover, .a-abgcolor-dark-teal.active, .a-ebgcolor-dark-teal:nth-child(even), .a-obgcolor-dark-teal:nth-child(odd) {
    background-color: #00BCD4 !important;
}

.a-bgcolor-light-gray, .a-hbgcolor-light-gray:hover, .a-abgcolor-light-gray.active, .a-ebgcolor-light-gray:nth-child(even), .a-obgcolor-light-gray:nth-child(odd) {
    background-color: #FDFDFD !important;
}
.a-bgcolor-gray, .a-hbgcolor-gray:hover, .a-abgcolor-gray.active, .a-ebgcolor-gray:nth-child(even), .a-obgcolor-gray:nth-child(odd) {
    background-color: #F3F3F3 !important;
}
.a-bgcolor-dark-gray, .a-hbgcolor-dark-gray:hover, .a-abgcolor-dark-gray.active, .a-ebgcolor-dark-gray:nth-child(even), .a-obgcolor-dark-gray:nth-child(odd) {
    background-color: #9E9E9E !important;
}

.a-bgcolor-light-green, .a-hbgcolor-light-green:hover, .a-abgcolor-light-green.active, .a-ebgcolor-light-green:nth-child(even), .a-obgcolor-light-green:nth-child(odd) {
    background-color: #C8E6C9 !important;
}
.a-bgcolor-green, .a-hbgcolor-green:hover, .a-abgcolor-green.active, .a-ebgcolor-green:nth-child(even), .a-obgcolor-green:nth-child(odd) {
    background-color: #81C784 !important;
}
.a-bgcolor-dark-green, .a-hbgcolor-dark-green:hover, .a-abgcolor-dark-green.active, .a-ebgcolor-dark-green:nth-child(even), .a-obgcolor-dark-green:nth-child(odd) {
    background-color: #4CAF50 !important;
}

.a-bgcolor-light-lime, .a-hbgcolor-light-lime:hover, .a-abgcolor-light-lime.active, .a-ebgcolor-light-lime:nth-child(even), .a-obgcolor-light-lime:nth-child(odd) {
    background-color: #F0F4C3 !important;
}
.a-bgcolor-lime, .a-hbgcolor-lime:hover, .a-abgcolor-lime.active, .a-ebgcolor-lime:nth-child(even), .a-obgcolor-lime:nth-child(odd) {
    background-color: #DCE775 !important;
}
.a-bgcolor-dark-lime, .a-hbgcolor-dark-lime:hover, .a-abgcolor-dark-lime.active, .a-ebgcolor-dark-lime:nth-child(even), .a-obgcolor-dark-lime:nth-child(odd) {
    background-color: #CDDC39 !important;
}

.a-bgcolor-light-orange, .a-hbgcolor-light-orange:hover, .a-abgcolor-light-orange.active, .a-ebgcolor-light-orange:nth-child(even), .a-obgcolor-light-orange:nth-child(odd) {
    background-color: #FFE0B2 !important;
}
.a-bgcolor-orange, .a-hbgcolor-orange:hover, .a-abgcolor-orange.active, .a-ebgcolor-orange:nth-child(even), .a-obgcolor-orange:nth-child(odd) {
    background-color: #FFCC99  !important;
}
.a-bgcolor-dark-orange, .a-hbgcolor-dark-orange:hover, .a-abgcolor-dark-orange.active, .a-ebgcolor-dark-orange:nth-child(even), .a-obgcolor-dark-orange:nth-child(odd) {
    background-color: #FF9800 !important;
}

.a-bgcolor-light-amber, .a-hbgcolor-light-amber:hover, .a-abgcolor-light-amber.active, .a-ebgcolor-light-amber:nth-child(even), .a-obgcolor-light-amber:nth-child(odd) {
    background-color: #FFECB3 !important;
}
.a-bgcolor-amber, .a-hbgcolor-amber:hover, .a-abgcolor-amber.active, .a-ebgcolor-amber:nth-child(even), .a-obgcolor-amber:nth-child(odd) {
    background-color: #FFD54F !important;
}
.a-bgcolor-dark-amber, .a-hbgcolor-dark-amber:hover, .a-abgcolor-dark-amber.active, .a-ebgcolor-dark-amber:nth-child(even), .a-obgcolor-dark-amber:nth-child(odd) {
    background-color: #FFC107 !important;
}

.a-bgcolor-light-pink, .a-hbgcolor-light-pink:hover, .a-abgcolor-light-pink.active, .a-ebgcolor-light-pink:nth-child(even), .a-obgcolor-light-pink:nth-child(odd) {
    background-color: #F8BBD0 !important;
}
.a-bgcolor-pink, .a-hbgcolor-pink:hover, .a-abgcolor-pink.active, .a-ebgcolor-pink:nth-child(even), .a-obgcolor-pink:nth-child(odd) {
    background-color: #F06292 !important;
}
.a-bgcolor-dark-pink, .a-hbgcolor-dark-pink:hover, .a-abgcolor-dark-pink.active, .a-ebgcolor-dark-pink:nth-child(even), .a-obgcolor-dark-pink:nth-child(odd) {
    background-color: #E91E63 !important;
}

.a-bgcolor-light-purple, .a-hbgcolor-light-purple:hover, .a-abgcolor-light-purple.active, .a-ebgcolor-light-purple:nth-child(even), .a-obgcolor-light-purple:nth-child(odd) {
    background-color: #E1BEE7 !important;
}
.a-bgcolor-purple, .a-hbgcolor-purple:hover, .a-abgcolor-purple.active, .a-ebgcolor-purple:nth-child(even), .a-obgcolor-purple:nth-child(odd) {
    background-color: #BA68C8 !important;
}
.a-bgcolor-dark-purple, .a-hbgcolor-dark-purple:hover, .a-abgcolor-dark-purple.active, .a-ebgcolor-dark-purple:nth-child(even), .a-obgcolor-dark-purple:nth-child(odd) {
    background-color: #9C27B0 !important;
}

.a-bgcolor-light-red, .a-hbgcolor-light-red:hover, .a-abgcolor-light-red.active, .a-ebgcolor-light-red:nth-child(even), .a-obgcolor-light-red:nth-child(odd) {
    background-color: #ffcdd2 !important;
}
.a-bgcolor-red, .a-hbgcolor-red:hover, .a-abgcolor-red.active, .a-ebgcolor-red:nth-child(even), .a-obgcolor-red:nth-child(odd) {
    background-color: #FF9B9B !important;
}
.a-bgcolor-dark-red, .a-hbgcolor-dark-red:hover, .a-abgcolor-dark-red.active, .a-ebgcolor-dark-red:nth-child(even), .a-obgcolor-dark-red:nth-child(odd) {
    background-color: #f44336 !important;
}

.a-bgcolor-light-yellow, .a-hbgcolor-light-yellow:hover, .a-abgcolor-light-yellow.active, .a-ebgcolor-light-yellow:nth-child(even), .a-obgcolor-light-yellow:nth-child(odd) {
    background-color: #FFF9C4 !important;
}
.a-bgcolor-yellow, .a-hbgcolor-yellow:hover, .a-abgcolor-yellow.active, .a-ebgcolor-yellow:nth-child(even), .a-obgcolor-yellow:nth-child(odd) {
    background-color: #FFD54F !important;
}
.a-bgcolor-dark-yellow, .a-hbgcolor-dark-yellow:hover, .a-abgcolor-dark-yellow.active, .a-ebgcolor-dark-yellow:nth-child(even), .a-obgcolor-dark-yellow:nth-child(odd) {
    background-color: #FFC107 !important;
}

.a-bgcolor-light-indigo, .a-hbgcolor-light-indigo:hover, .a-abgcolor-light-indigo.active, .a-ebgcolor-light-indigo:nth-child(even), .a-obgcolor-light-indigo:nth-child(odd) {
    background-color: #C5CAE9 !important;
}
.a-bgcolor-indigo, .a-hbgcolor-indigo:hover, .a-abgcolor-indigo.active, .a-ebgcolor-indigo:nth-child(even), .a-obgcolor-indigo:nth-child(odd) {
    background-color: #7986CB !important;
}
.a-bgcolor-dark-indigo, .a-hbgcolor-dark-indigo:hover, .a-abgcolor-dark-indigo.active, .a-ebgcolor-dark-indigo:nth-child(even), .a-obgcolor-dark-indigo:nth-child(odd) {
    background-color: #3F51B5 !important;
}

/*==============================
 Цвет бордера
==============================*/
.a-border-white, .a-hborder-white:hover {
    border-color: #FFFFFF !important;
}

.a-border-light-black, .a-hborder-light-black:hover {
    border-color: #666666 !important;
}
.a-border-black, .a-hborder-black:hover {
    border-color: #444444 !important;
}
.a-border-dark-black, .a-hborder-dark-black:hover {
    border-color: #222222 !important;
}

.a-border-light-blue, .a-hborder-light-blue:hover {
    border-color: #B3E5FC !important;
}
.a-border-blue, .a-hborder-blue:hover {
    border-color: #4FC3F7 !important;
}
.a-border-dark-blue, .a-hborder-dark-blue:hover {
    border-color: #03A9F4 !important;
}

.a-border-light-brown, .a-hborder-light-brown:hover {
    border-color: #D7CCC8 !important;
}
.a-border-brown, .a-hborder-brown:hover {
    border-color: #A1887F !important;
}
.a-border-dark-brown, .a-hborder-dark-brown:hover {
    border-color: #795548 !important;
}

.a-border-light-cyan, .a-hborder-light-cyan:hover {
    border-color: #B2EBF2 !important;
}
.a-border-cyan, .a-hborder-cyan:hover {
    border-color: #4DD0E1 !important;
}
.a-border-dark-cyan, .a-hborder-dark-cyan:hover {
    border-color: #00BCD4 !important;
}

.a-border-light-teal, .a-hborder-light-teal:hover {
    border-color: #B2DFDB !important;
}
.a-border-teal, .a-hborder-teal:hover {
    border-color: #4DB6AC !important;
}
.a-border-dark-teal, .a-hborder-dark-teal:hover {
    border-color: #00BCD4 !important;
}

.a-border-light-gray, .a-hborder-light-gray:hover {
    border-color: #FDFDFD !important;
}
.a-border-gray, .a-hborder-gray:hover {
    border-color: #F3F3F3 !important;
}
.a-border-dark-gray, .a-hborder-dark-gray:hover {
    border-color: #9E9E9E !important;
}

.a-border-light-green, .a-hborder-light-green:hover {
    border-color: #C8E6C9 !important;
}
.a-border-green, .a-hborder-green:hover {
    border-color: #81C784 !important;
}
.a-border-dark-green, .a-hborder-dark-green:hover {
    border-color: #4CAF50;
}

.a-border-light-lime, .a-hborder-light-lime:hover {
    border-color: #F0F4C3 !important;
}
.a-border-lime, .a-hborder-lime:hover {
    border-color: #DCE775 !important;
}
.a-border-dark-lime, .a-hborder-dark-lime:hover {
    border-color: #CDDC39 !important;
}

.a-border-light-orange, .a-hborder-light-orange:hover {
    border-color: #FFE0B2 !important;
}
.a-border-orange, .a-hborder-orange:hover {
    border-color: #FFB74D  !important;
}
.a-border-dark-orange, .a-hborder-dark-orange:hover {
    border-color: #FF9800 !important;
}

.a-border-light-amber, .a-hborder-light-amber:hover {
    border-color: #FFECB3 !important;
}
.a-border-amber, .a-hborder-amber:hover {
    border-color: #FFD54F !important;
}
.a-border-dark-amber, .a-hborder-dark-amber:hover {
    border-color: #FFC107 !important;
}

.a-border-light-pink, .a-hborder-light-pink:hover {
    border-color: #F8BBD0 !important;
}
.a-border-pink, .a-hborder-pink:hover {
    border-color: #F06292 !important;
}
.a-border-dark-pink, .a-hborder-dark-pink:hover {
    border-color: #E91E63 !important;
}

.a-border-light-purple, .a-hborder-light-purple:hover {
    border-color: #E1BEE7 !important;
}
.a-border-purple, .a-hborder-purple:hover {
    border-color: #BA68C8 !important;
}
.a-border-dark-purple, .a-hborder-dark-purple:hover {
    border-color: #9C27B0 !important;
}

.a-border-light-red, .a-hborder-light-red:hover {
    border-color: #ffcdd2 !important;
}
.a-border-red, .a-hborder-red:hover {
    border-color: #e57373 !important;
}
.a-border-dark-red, .a-hborder-dark-red:hover {
    border-color: #f44336 !important;
}

.a-border-light-yellow, .a-hborder-light-yellow:hover {
    border-color: #FFF9C4 !important;
}
.a-border-yellow, .a-hborder-yellow:hover {
    border-color: #FFD54F !important;
}
.a-border-dark-yellow, .a-hborder-dark-yellow:hover {
    border-color: #FFC107 !important;
}

.a-border-light-indigo, .a-hborder-light-indigo:hover {
    border-color: #C5CAE9 !important;
}
.a-border-indigo, .a-hborder-indigo:hover {
    border-color: #7986CB !important;
}
.a-border-dark-indigo, .a-hborder-dark-indigo:hover {
    border-color: #3F51B5 !important;
}

/*==============================
Всплывающие подсказки
==============================*/
.ui-tooltip {
    max-width: 350px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    opacity: 0.9;
    color: #000;
    padding: 5px;
    text-align: center;
    font-size: 11px;
}

/*==============================
Индикатор
==============================*/
.a-progress {
    height: 5px;
    display: block;
    z-index: 1;
    background-image: -webkit-gradient(
            linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
    );
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
}

@-webkit-keyframes move {
    from {background-position: 0 0;}
    to {background-position: 50px 50px}
}

.a-progress.inactive {
    -webkit-animation: none;
    -moz-animation: none;
    background-image: none;
}
