#ren-app {
    height: 100%;
}
#ren-app a {
    padding: 2px;
}

/*Просмотр видео*/
#ren-app #video {
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    background-color: rgba(51, 51, 51, 0.80);
    padding: 0;
    padding-top: 54px;
    width: 100%;
    text-align: center;
    height: 100%;
}

#ren-app #video #close-video {
    position: relative;
    left: 90%;
    width: 70px;
    cursor: pointer;
    color: #dadada;
    padding-bottom: 9px;
}

#ren-app #video #close-video:hover {
    color: #f14545;
}

/*Просмотр изображений*/
#ren-app #image {
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(51, 51, 51, 0.80);
    padding: 0;
    padding-top: 100px;
    width: 90%;
    text-align: center;
    margin: 0;
    height: 100%;
}

#ren-app #image #image-title {
    color: #f9f9f9;
    font-size: 13pt;
    padding: 5px;
}

#ren-app #image img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#ren-app #image .image-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#ren-app .zoom {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

/*Просмотр статиь*/
#ren-app #post {
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(51, 51, 51, 0.80);
    padding: 1px;
    padding-top: 6px;
    width: 100%;
    text-align: center;
}

#ren-app #post #close-post {
    position: relative;
    left: 90%;
    width: 70px;
    cursor: pointer;
    color: #dadada;
    padding-bottom: 9px;
}

#ren-app #post #close-post:hover {
    color: #f14545;
}

/*Шапка*/
#ren-app {
    width: 780px;
    min-height: 500px;
    background: #ffffff;
}

#ren-app header {
    z-index: 10;
    -webkit-user-select: none;
    position: fixed;
    top: 0;
    height: 78px;
    width: 780px;
    background: url("../image/header.jpg");
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#ren-app header img {
    height: 60px;
    padding: 10px 10px 8px 15px;
    float: left;
}
#ren-app header img:hover  {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#ren-app header #title {
    position: relative;
    top: 10px;
}

#ren-app header #live {
    position: relative;
    left: 100px;
    top: 17px;
    text-align: center;
}

#live i {
    color: #ff7800;
    width: 70px;
}

#live span {
    position: relative;
    bottom: 11px;
    font-size: 11pt;
    color: #dadada;
}

#ren-app header h1 {
    color: white;
    font-size: 24px;
}

#ren-app #weather {
    font-size: 11px;
    color: #ffffff;
    position: fixed;
    right: 10px;
    top: 5px;
    text-align: right;
    cursor: pointer;
}

#ren-app #no-result {
    background: url('../image/128.png') center no-repeat;
    background-blend-mode: overlay;
    text-align: center;
    min-height: 500px;
}

#ren-app #no-result img {
    margin-top: 274px;
}

#ren-app #city:hover {
    color: #BA68C8 !important;
}

#ren-app sup {
    padding-left: 2px;
}

#ren-app #weather #cel {
    color: #CECECE;
    margin: 0px 3px 0px 3px;
}

#ren-app #weather #cel:hover {
    color: #4CAF50;
}

#ren-app #course {
    font-size: 11px;
    position: fixed;
    left: 590px;
    top: 60px;
}

#ren-app #usd {
    height: 11px;
    width: 60px;
    float: left;
    cursor: pointer;
}

#ren-app #euro {
    height: 11px;
    width: 60px;
    float: left;
    padding-left: 5px;
    cursor: pointer;
}

#ren-app #oil {
    height: 11px;
    width: 60px;
    float: left;
    padding-left: 5px;
    cursor: pointer;
}

#ren-app #oil span,
#ren-app #usd span,
#ren-app #euro span{
    color: #CECECE;
    padding-left: 5px;
}

#ren-app #oil span:hover,
#ren-app #usd span:hover,
#ren-app #euro span:hover{
    color: #4FC3F7;
}

/*Меню*/
#ren-app #menu {
    background-color: #ffffff;
    padding-top: 0;
    margin-top: 0;
    width: 100%;

}

#ren-app #menu input {
    background-color: #fffcdc;
    -webkit-user-select: none;
    width: 590px;
}

#ren-app #menu #button-search {
    width: 66px;
    margin-right: 0;
}

#ren-app #menu #last,
#ren-app #menu #button-search,
#ren-app #menu #top {
    background-color: #e0e0e0;
    color: #333 !important;
    margin-left: 0;
}

#ren-app #menu #top {
    border-left: 0;
}
#ren-app #menu #last:hover,
#ren-app #menu #last.active,
#ren-app #menu #top.active,
#ren-app #menu #top:hover,
#ren-app #menu #button-search:hover{
    background-color: #ffd191;
    border-color: #f5c381;;
}

/*Тело*/
#ren-app .wrapper {
    margin-top: 107px;
    margin-bottom: 25px;
}

#ren-app td.left {
    width: 710px;
    border-bottom: 1px solid #f1f1f1;
    padding: 2px;
}

#ren-app td.right i {
    margin: 10px 0px 0px 35px;
    color: #f0f0f0;
}

#ren-app .unread {
    background-color: #FFEFEF !important;
}

#ren-app .unread i {
    /*color: #ffffff !important;*/
}

#ren-app [data-bgcolor="tr-bg-white"] {
    background-color: #ffffff;
}

#ren-app [data-bgcolor="tr-bg-gray"] {
    background-color: #f9f9f9;
}

#ren-app .left a {
    color: #505050;
}
#ren-app .left a:visited {
    color: #C1C1C1;
}
#ren-app [data-id] span {
    font-size: 8pt;
    color: #9a9a9a;
    margin-left: 10px;
    display: block;
}
#ren-app [data-id] i {
    width: 20px;
}
#ren-app [data-id]:hover span {
    display: none;
}
#ren-app td.right {
    border-bottom: 1px solid #f1f1f1;
}

#ren-app td img {
    width: 56px;
    height: 32px;
    padding: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#ren-app td img:hover {
    cursor: pointer;
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}

/*Подвал*/
#ren-app footer {
    -webkit-user-select: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#ren-app footer a {
    transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    color: #999;
    text-decoration: none;
    display: block;
    padding: 0 18px 0 18px;
    border: 0;
    line-height: 25px;
}

#ren-app footer ul  {
    list-style: none;
    padding: 0;
}

#ren-app footer ul li {
    float: left;
    margin: 0;
}

#ren-app footer ul li a:hover {
    color: #000;
    text-decoration: underline;
}